.zk-background {
  position: sticky;
  width: 100vw;
  height: 130vh;
  left: 0;
  top: -60%;
  background: #323232;

  &.fixed {
    position: fixed;
    top: -70%;
  }
}

.zk-star {
  width: 100%;
  height: 100%;

}

.zk-cover {
  position: absolute;
  bottom: -32%;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top,rgba(32,32,32,1) 30%,rgba(32,32,32,0) 100%);
}
